html{
    font-style: initial;
}

.img{
    background-image:url("https://w0.peakpx.com/wallpaper/447/644/HD-wallpaper-goblin-romance-love-drama-guardian-korean-scenery-couple.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aquamarine;
    
}
.home{
  font-family: Arial, Helvetica, sans-serif;
}
